body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../imgs/fondo-humo-azul.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}